<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/index">Votely</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vote">Vote</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
    </ul>
  </div>
</nav>
<div class="container mt-5">
  <input id="username" value={{username}} type="hidden"/>
  <h1>Admin Voting Dashboard</h1>
  <h3>Hello, {{username}}!</h3>
  <div class="row">
    <div class="col-sm">
      <div class="m-3 p-3 main_page" id="new_vote">
        <h3>Start a new vote:</h3>
        <form class="p-2">
          <div class="form-group">
            <label for="vote_name" class="col-form-label">Vote Name</label>
            <input type="text" class="form-control w-25" id="vote_name" placeholder="Vote Name"/>
            <div id="start_vote_invalid" class="invalid-feedback invalid">
              Please use a name within 3-20 characters, using only letters and numbers.
            </div>
          </div>
          <a class="btn btn-primary" id="start_vote">Start Vote</a>
        </form>
      </div>
      <div class="container m-3 p-3 main_page" id="voting_in_progress">
        <div class="m-2">
          <h4 id="name_voting">Voting for: </h4>
          <div class="row">
            <div class="col-md">
                <a class="btn btn-info mb-2" id="end_vote">End Voting Period</a>
                <a class="btn btn-primary mb-2" id="reset_vote">Reset Vote</a>
            </div>
            <div class="col-md">
              <p id="yes_count">Yes: </p>
              <p id="no_count">No: </p>
              <p id="percent_count">Percent yes: </p>
              <p id="total_votes">Total votes: </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- List of registered voters -->
    <div class="col-sm">
      <div class="m-3 p-3 main_page">
        <h3>Registered Voters</h3>
        <ul class="list-group" id="registered_voters_list">
        </ul>
      </div>
    </div>
    <!-- Waiting room list -->
    <div class="col-sm">
      <div class="m-3 p-3 main_page">
        <h3>Waiting List</h3>
        <ul class="list-group" id="waiting_list">
        </ul>
      </div>
    </div>
  </div>
</div>
<script src='scripts/communications_admin.js'>
</script>
<script src='scripts/buttons_admin.js'>
</script>
