<div class="container mt-5">
  <h1>Welcome to TKE Bid Vote!</h1>
  <input type='hidden' id='id_num'></input>
  <input type='hidden' id='name'></input>
  <div id='signon_page'>
    <a class = "btn btn-primary" href="/voter">Go to Voter Page</a>
    <a class = "btn btn-primary" href="/admin">Go to Admin Page</a>
  </div>
</div>
