<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/index">Votely</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/vote">Vote <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admindashboard">Admin</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
    <h1 class="text-dark">Welcome to Votely Realtime!</h1>
  </div>
  <input type='hidden' id='id_num'></input>
  <input type='hidden' id='name'></input>
  <div class="row">
    <div class="col-md-4 mt-3 main_page p-3" id="signon_page">
      <form class="needs-validation" novalidate>
        <div class="form-group">
          <label for="name_input">Name</label>
          <input type='text' class="form-control" id='name_input' placeholder="Name" required/>
          <div id="signin_invalid" class="invalid-feedback invalid">
            Please use a name within 3-20 characters, using only letters and numbers.
          </div>
        </div>
          <a class='btn btn-primary text-white' id='submit_signon'>Begin Voting</a>
      </form>
    </div>
  </div>
  <div class='container mt-3 main_page p-3' id='waiting_registration'>
    <h3>Please wait for the admin to let you into the voting session.</h3>
  </div>
  <div class='container mt-3 main_page p-3' id='waiting_in_session'>
    <h3>You have either just voted, or nothing is being voted on just yet. Please wait.</h3>
  </div>
  <div class='container mt-3 main_page p-3' id='voting'>
    <form>
      <h3 id='vote_name'>Voting on:</h3>
      <div class="form-group">
       <div class="custom-control custom-radio">
         <input type="radio" id="vote_yes" name="vote" class="custom-control-input" checked="" value=1>
         <label class="custom-control-label" for="vote_yes">Yes</label>
       </div>
       <div class="custom-control custom-radio">
         <input type="radio" id="vote_no" name="vote" class="custom-control-input" value=0>
         <label class="custom-control-label" for="vote_no">No</label>
       </div>
     </div>
    <div class="form-group">
      <input class="btn btn-primary" id="submit_vote" type="button" value="Submit">
    </div>
    </form>
  </div>
  <div class='container mt-3' id='results'>
    <h3>Voting has ended.</h3>
    <p id='yes_count'>Yes: </p>
    <p id='no_count'>No: </p>
    <p id='percent_count'>Percent: </p>
    <p id='total_votes'>Total Votes: </p>
  </div>
</div>
<script src='scripts/communications.js'>
</script>
<script src='scripts/buttons.js'>
</script>
