body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #a53232;
  color: #929191;
}
input {
  width:64pt;
  padding: 6px 10px;
}
a.button {
  display: inline block;
  background-color: #000000;
  color: #ffffff;
  padding: 7px 8px;
  text-decoration: none;
}
a.button:hover{
  background-color: #4f4f4f;
  cursor: pointer;
}
input{
  margin: 8px;
}
#history_yes{
  width: 45%;
  float: left;
  background-color: #691e1e;
  padding: 8pt;
}
#history_no{
  width: 45%;
  float: right;
  background-color: #691e1e;
  padding: 8pt;
}
