body {
  background-color: #AAAAAA;
}
.main_page {
  background-color: #969696;
}

.invalid {
  color: #b82525;
}

/* Remove arrows from numeric input */
/* Taken from w3schools */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#history_yes{
  width: 45%;
  float: left;
  background-color: #691e1e;
  padding: 8pt;
}
#history_no{
  width: 45%;
  float: right;
  background-color: #691e1e;
  padding: 8pt;
}
